@charset "UTF-8";
body {
    background-color: #B4B4F7;
}
/*
.img {
    padding-left: 400px;
    padding-top: px;
    padding-right: 400px;
}
*/

img{
	  display: block;
  margin-left: auto;
  margin-right: auto;
}
.words {
    text-align: center;
}
